/* VERSION ORDINATEUR */

/* Définition de la police personnalisée */
* {
  font-family: "Raleway", sans-serif;
}

/* Paramètres généraux */

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#main-wrapper {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: auto;
  width: 1440px;
  height: 1884px;
}

.cover {
  object-fit: cover;
}

/* Header */

header {
  border-style: none;
  border-color: blue;
  border-width: 2px;
}

/* ++++++ Zone titre ++++++ */

.titre {
  border-style: none;
  border-color: greenyellow;
  border-width: 2px;
  display: flex;
}

.logo {
  border-style: none;
  border-color: hotpink;
  border-width: 2px;
  width: 96px;
  height: 45px;
  margin-top: 30px;
  margin-right: 730px;
  margin-left: 55px;
}

.menu_hebergements_et_activites {
  border-style: none;
  border-color: red;
  border-width: 2px;
  display: flex;
  margin-top: 30px;
}

.hebergements,
.activites {
  border-style: none;
  border-color: green;
  border-width: 2px;
  font-weight: normal;
  font-size: 16px;
  margin-right: 65px;
}

.hebergements a,
.activites a {
  color: #000000;
  padding-left: 25px;
  padding-right: 25px;
}

.inscription {
  border-style: none;
  border-color: green;
  border-width: 2px;
  margin-top: 30px;
}

.inscrire a {
  color: #0065fc;
}

.inscrire {
  border-style: none;
  border-color: teal;
  border-width: 2px;
  font-weight: bold;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

.hebergements a:hover,
.activites a:hover {
  border-top-style: solid;
  border-width: 5px;
  border-color: #0065fc;
  padding-top: 25px;
  color: #0065fc;
}

/* ++++++ Zone slogan ++++++ */

.slogan {
  border-style: none;
  border-width: 2px;
  border-color: orange;
  margin-top: 45px;
}

.slogan h2 {
  border-style: none;
  border-width: 2px;
  border-color: aqua;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 55px;
}

.slogan p {
  border-style: none;
  border-width: 2px;
  border-color: brown;
  font-weight: normal;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 55px;
}

/* ++++++ Zone recherche ++++++ */

.recherche {
  border-style: none;
  border-width: 2px;
  border-color: blueviolet;
  display: flex;
  margin-top: 15px;
}

.position {
  border-style: none;
  border-width: 2px;
  border-color: yellowgreen;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
}

.position i {
  border-style: none;
  border-width: 2px;
  border-color: red;
}

.destination input {
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2f2;
  width: 230px;
  height: 48px;
  font-weight: bold;
  font-size: 18px;
  padding-left: 16px;
}

.rechercher {
  border-style: solid;
  border-width: 1px;
  border-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 135px;
  height: 50px;
  background-color: #0065fc;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  padding-left: 16px;
}

.rechercher span {
  display: inline;
}

.rechercher i {
  display: none;
}

/* ++++++ Zone filtres ++++++ */

.filtres {
  border-style: none;
  border-width: 2px;
  border-color: red;
  display: flex;
  margin-top: 30px;
}

.titre_filtres {
  border-style: none;
  border-width: 2px;
  border-color: aqua;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  margin-left: 55px;
  margin-right: 30px;
}

.filtre_economique,
.filtre_familial,
.filtre_romantique,
.filtre_animaux {
  border-style: solid;
  border-width: 2px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-color: #deebff;
  display: flex;
  align-items: center;
  height: 50px;
}

.filtre_economique,
.filtre_familial,
.filtre_romantique {
  margin-right: 25px;
}

.filtres i {
  width: 50px;
  height: 50px;
  color: #0065fc;
  background-color: #deebff;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtre_economique h3,
.filtre_familial h3,
.filtre_romantique h3,
.filtre_animaux h3 {
  border-style: none;
  border-width: 2px;
  border-color: darkorchid;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.filtres a {
  color: #000000;
}

.filtre_economique:hover,
.filtre_familial:hover,
.filtre_romantique:hover,
.filtre_animaux:hover {
  box-shadow: 3px 3px 2px #808080;
}

/* ++++++ Zone information ++++++ */

.information {
  border-style: none;
  border-width: 2px;
  border-color: forestgreen;
  display: flex;
  margin-top: 35px;
}

.information i {
  border-style: solid;
  border-width: 1px;
  border-color: #deebff;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.information p {
  border-style: none;
  border-width: 2px;
  border-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: normal;
  font-size: 16px;
}

/* Main */

main {
  border-style: none;
  border-color: blue;
  border-width: 2px;
}

#hebergements_a_Marseille_et_les_plus_populaires {
  border-style: none;
  border-color: palegreen;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-right: 50px;
  margin-left: 50px;
}

/* ++++++ Zone hébergements à Marseille ++++++ */

.hebergements_a_Marseille {
  border-style: none;
  border-color: green;
  border-width: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f2f2f2f2;
}

.hebergements_a_Marseille h2 {
  border-style: none;
  border-color: hotpink;
  border-width: 2px;
  margin-top: 45px;
  margin-bottom: 0px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 20px;
}

.hebergements_1 {
  border-style: none;
  border-color: red;
  border-width: 2px;
  display: flex;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.hebergements_2 {
  border-style: none;
  border-color: green;
  border-width: 2px;
  display: flex;
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.davantage {
  border-style: none;
  border-color: orange;
  border-width: 2px;
  margin-top: 40px;
  margin-bottom: 45px;
  margin-left: 40px;
  font-size: 16px;
  font-weight: bold;
}

.auberge_la_canebiere,
.hotel_du_port,
.hotel_les_mouettes,
.hotel_de_la_mer,
.auberge_le_panier,
.hotel_chez_amina {
  border-style: none;
  border-color: goldenrod;
  border-width: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.hotel_du_port,
.auberge_le_panier {
  margin-right: 30px;
  margin-left: 30px;
}

.logements_1 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
  width: 235px;
  height: 190px;
}

.logements_1 img {
  border-style: none;
  border-color: blue;
  border-width: 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 235px;
  height: 115px;
}

.logements_1 h3 {
  border-style: none;
  border-color: hotpink;
  border-width: 2px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.logements_1 p {
  border-style: none;
  border-color: green;
  border-width: 2px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
}

.note_logements_1 {
  border-style: none;
  border-color: red;
  border-width: 2px;
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
}

.hebergements_1 a,
.hebergements_2 a {
  color: #000000;
}

.etoile_bleu {
  color: #0065fc;
}

.etoile_grise {
  color: #f2f2f2f2;
}

.hebergements_1 a:hover,
.hebergements_2 a:hover {
  box-shadow: 3px 3px 2px #808080;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* ++++++ Zone les plus populaires ++++++ */

.les_plus_populaires {
  border-style: none;
  border-color: aqua;
  border-width: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f2f2f2f2;
}

.titre_les_plus_populaires {
  border-style: none;
  border-color: purple;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-right: 35px;
  margin-left: 35px;
}

.titre_les_plus_populaires h2 {
  border-style: none;
  border-color: orangered;
  border-width: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
}

.titre_les_plus_populaires i {
  border-style: none;
  border-color: royalblue;
  border-width: 2px;
}

.hebergements_3 {
  border-style: none;
  border-color: sandybrown;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 35px;
  margin-left: 35px;
}

.hotel_le_soleil_du_matin,
.au_coeur_de_l_eau_chambres_d_hotes,
.hotel_tout_bleu_et_blanc {
  border-style: none;
  border-color: goldenrod;
  border-width: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.au_coeur_de_l_eau_chambres_d_hotes {
  margin-top: 35px;
  margin-bottom: 35px;
}

.logements_2 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
  display: flex;
  width: 335px;
  height: 135px;
}

.logements_2 img {
  border-style: none;
  border-color: grey;
  border-width: 2px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 128px;
  height: 135px;
}

.infos_logements_2 {
  border-style: none;
  border-color: green;
  border-width: 2px;
  margin-top: 10px;
  margin-left: 20px;
}

.infos_logements_2 h3 {
  border-style: none;
  border-color: yellow;
  border-width: 2px;
  width: 150px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.infos_logements_2 p {
  border-style: none;
  border-color: hotpink;
  border-width: 2px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
}

.note_logements_2 {
  border-style: none;
  border-color: red;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.hebergements_3 a {
  color: #000000;
}

.hebergements_3 a:hover {
  box-shadow: 3px 3px 2px #808080;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* VERSION MOBILE */

@media (max-width: 376px) {
  /* Paramètre généraux */

  #main-wrapper {
    width: 375px;
    height: 4550px;
  }

  /* Header*/

  /* ++++++ Zone titre ++++++ */

  .titre {
    flex-wrap: wrap;
  }

  .titre :nth-child(2) {
    order: 3;
  }

  .logo {
    margin-left: 20px;
    margin-right: 155px;
  }

  .inscription {
    margin-top: 30px;
    padding-top: 15px;
  }

  .menu_hebergements_et_activites {
    margin-top: 35px;
  }

  .hebergements,
  .activites {
    margin-right: 0px;
  }

  .hebergements a,
  .activites a {
    padding-left: 0px;
    padding-right: 0px;
  }

  .hebergements a {
    padding-left: 38px;
    padding-right: 38px;
    border-width: 5px;
    border-bottom-style: solid;
    border-color: #f2f2f2;
    padding-bottom: 5px;
  }

  .activites a {
    padding-left: 60px;
    padding-right: 62px;
    border-width: 5px;
    border-bottom-style: solid;
    border-color: #f2f2f2;
    padding-bottom: 5px;
  }

  .hebergements a:hover,
  .activites a:hover {
    border-width: 5px;
    border-top-style: none;
    border-bottom-style: solid;
    border-color: #0065fc;
    padding-bottom: 5px;
    color: #0065fc;
  }

  .inscrire a:hover {
    border-top-style: none;
  }

  /* ++++++ Zone slogan ++++++ */
  .slogan {
    margin-top: 35px;
  }

  .slogan h2 {
    margin-top: 0px;
    margin-right: 65px;
    margin-left: 20px;
  }

  .slogan p {
    margin-left: 20px;
  }

  /* ++++++ Zone recherche ++++++ */

  .recherche {
    margin-top: 0px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .position {
    margin-left: 20px;
  }

  .destination input {
    width: 215px;
  }

  .rechercher {
    width: 50px;
    height: 50px;
    padding-left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .rechercher span {
    display: none;
  }

  .rechercher i {
    display: inline;
    margin-left: 15px;
  }

  /* ++++++ Zone filtres ++++++ */

  .filtres {
    flex-wrap: wrap;
    margin-top: 35px;
  }

  .titre_filtres {
    margin-left: 20px;
    margin-right: 300px;
    margin-bottom: 15px;
  }

  .filtre_economique {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .filtre_familial {
    margin-right: 0px;
  }

  .filtre_romantique {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .filtre_animaux {
    margin-left: 20px;
  }

  .filtre_economique h3,
  .filtre_familial h3,
  .filtre_romantique h3,
  .filtre_animaux h3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* ++++++ Zone information ++++++ */

  .information {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .information i {
    margin-left: 20px;
  }

  .information p {
    width: fit-content;
    margin-left: 5px;
  }

  /* Main */

  #hebergements_a_Marseille_et_les_plus_populaires {
    flex-wrap: wrap;
    order: 1;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  /* ++++++ Zone hébergements à Marseille ++++++ */

  .hebergements_a_Marseille {
    order: 2;
  }

  .hebergements_1,
  .hebergements_2 {
    flex-wrap: wrap;
  }

  /* ++++++ Zone les plus populaires ++++++ */

  .les_plus_populaires {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .titre_les_plus_populaires {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .hebergements_3 {
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 35px;
  }

  .au_coeur_de_l_eau_chambres_d_hotes {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logements_2 {
    width: 325px;
  }

  /* ++++++ Zone hébergements à Marseille ++++++ */

  .hebergements_a_Marseille {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #ffffff;
  }

  .hebergements_a_Marseille h2 {
    margin-top: 40px;
    margin-left: 25px;
  }

  .hebergements_1 {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .hebergements_2 {
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .auberge_la_canebiere,
  .hotel_du_port,
  .hotel_les_mouettes,
  .hotel_de_la_mer,
  .auberge_le_panier {
    margin-bottom: 10px;
  }

  .hotel_du_port,
  .auberge_le_panier {
    margin-right: 0px;
    margin-left: 0px;
  }

  .auberge_la_canebiere,
  .hotel_du_port,
  .hotel_les_mouettes,
  .hotel_de_la_mer,
  .auberge_le_panier,
  .hotel_chez_amina {
    box-shadow: 10px 10px 20px #f1f1f1;
  }

  .logements_1 {
    width: 325px;
  }

  .logements_1 img {
    width: 325px;
  }

  .davantage {
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 50px;
  }
}

/* VERSION TABLETTE */

@media (min-width: 377px) and (max-width: 767px) {
  /* Paramètre généraux */

  #main-wrapper {
    width: 768px;
    height: 2600px;
  }

  /* Header*/

  /* ++++++ Zone titre ++++++ */

  .logo {
    margin-right: 70px;
  }

  .hebergements a:hover,
  .activites a:hover {
    padding-top: 25px;
  }

  /* ++++++ Zone filtres ++++++ */

  .filtres {
    flex-wrap: wrap;
  }

  .titre_filtres {
    margin-right: 20px;
  }

  .filtre_economique,
  .filtre_familial,
  .filtre_romantique {
    margin-right: 35px;
  }

  .filtre_animaux {
    margin-left: 130px;
    margin-top: 10px;
  }

  .filtre_economique h3,
  .filtre_familial h3,
  .filtre_romantique h3,
  .filtre_animaux h3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* Main */

  #hebergements_a_Marseille_et_les_plus_populaires {
    flex-wrap: wrap;
    order: 1;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  /* ++++++ Zone hébergements à Marseille ++++++ */

  .hebergements_a_Marseille {
    order: 2;
  }

  .hebergements_1,
  .hebergements_2 {
    flex-wrap: wrap;
  }

  /* ++++++ Zone les plus populaires ++++++ */

  .les_plus_populaires {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .titre_les_plus_populaires {
    margin-right: 55px;
    margin-bottom: 25px;
    margin-left: 55px;
  }

  .hebergements_3 {
    margin-top: 0px;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 45px;
  }

  .au_coeur_de_l_eau_chambres_d_hotes {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logements_2 {
    width: 640px;
  }

  .logements_2 img {
    width: 256px;
  }

  .infos_logements_2 {
    margin-left: 40px;
  }

  .infos_logements_2 h3 {
    width: auto;
  }

  /* ++++++ Zone hébergements à Marseille ++++++ */

  .hebergements_a_Marseille {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #ffffff;
  }

  .hebergements_a_Marseille h2 {
    margin-right: 55px;
    margin-left: 55px;
  }

  .hebergements_1 {
    margin-top: 25px;
    margin-right: 55px;
    margin-left: 55px;
  }

  .hebergements_2 {
    margin-top: 20px;
    margin-right: 55px;
    margin-left: 55px;
  }

  .hotel_du_port,
  .auberge_le_panier {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .auberge_la_canebiere,
  .hotel_du_port,
  .hotel_les_mouettes,
  .hotel_de_la_mer,
  .auberge_le_panier,
  .hotel_chez_amina {
    box-shadow: 10px 10px 20px #f1f1f1;
  }

  .logements_1 {
    width: 640px;
  }

  .logements_1 img {
    width: 640px;
  }

  .davantage {
    margin-top: 45px;
    margin-right: 55px;
    margin-left: 55px;
  }
}
